# Runtime & build artifacts
node_modules/

# OS specific files
.DS_Store
.os

# Editor
.idea/

# Logging
*.log*
.idea/

# Configuration files
configs.json

#Sample index files
# example-index.html
index2.html
